---
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="../../reveal/css/reveal.css">
		<link rel="stylesheet" href="../../reveal/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="../../reveal/lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../../reveal/css/print/pdf.css' : '../../reveal/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
<!-- .slide: data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4" -->
		<div class="reveal">
			<div class="slides">
				
{% assign slide_files = site.static_files | 
	where_exp: "file", "file.path contains 'slide'" |
	where_exp: "file", "file.path contains page.url" |
	sort: 'name' %}
{% for slide in slide_files %}
				<section data-markdown>
					<textarea data-template>
						{% include_relative {{ slide.name }} %}
					</textarea>
				</section>
{% endfor %}

			</div>
		</div>

		<script src="../../reveal/lib/js/head.min.js"></script>
		<script src="../../reveal/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '../../reveal/plugin/markdown/marked.js' },
					{ src: '../../reveal/plugin/markdown/markdown.js' },
					{ src: '../../reveal/plugin/notes/notes.js', async: true },
					{ src: '../../reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
